Intent of DS architecture relativbe to IP Precedence/ToS

From TSVWG review by RG:
>  
>
>    Practices based on ToS Precedence Remarking (/Remark-ToS/) RFC1349
>
>    [RFC1349] were deprecated by RFC2474 [RFC2474].  These practices
>
>    based on ToS semantics have not yet been eliminated from deployed
>
>    networks.
>
>  
>
>  
>
>    +-+-+-+-+-+-+
>
>    |0 0 1|x x x|
>
>    +-+-+-+-+-+-+
>
>  
>
>    Figure showing ToS Precedence Remarking (/Remark-ToS/) observed
>
>    behaviour, based on Section 3 of RFC1349 [RFC1349].  The bit
>
>    positions marked "x" remain unchanged.
>
>  
>
>    A less common remarking, ToS Precedence Remarking sets the first
>
>    three bits of the DSCP to a non-zero value corresponding to a CS PHB.
>
>    This remarking occurs when routers are not configured to perform
>
>    DiffServ remarking.
>
>   
>
>    
>
> RFC 2474, 4.2.2.3  Using the Class Selector PHB Requirements for IP Precedence
>
>          Compatibility
>
>  
>
>    A DS-compliant network node can be deployed with a set of one or more
>
>    Class Selector Compliant PHB groups.  This document states that the
>
>    set of codepoints 'xxx000' MUST map to such a set of PHBs.  As it is
>
>    also possible to map multiple codepoints to the same PHB, the vendor
>
>    or the network administrator MAY configure the network node to map
>
>    codepoints to PHBs irrespective of bits 3-5 of the DSCP field to
>
>    yield a network that is compatible with historical IP Precedence use.
>
>    Thus, for example, codepoint '011010' would map to the same PHB as
>
>    codepoint '011000'.
>
>  
>
> [RG] If I understand the quoted text of RFC2474 correctly, the behaviour
>
> you judge as "depricated by RFC 2474" is specified as "DS-compliant"
>
> by RFC 2474. Please align your draft text with RFC2474 as-is.
>
>  
Editors: We'll create a separate thread to discuss the specific topic of ToS Precedence Remarking and what various RFCs anticipated/required.

Attempted fix in PR #49 

See also proposal in PR #50 

I would leave this open for now in case RG has more suggestions

My understanding of RFC2474 is that it defines mappings to PHBs to support existing networks built to implement IP Precedence. Specifically, the network administrator MAY configure the network node to map codepoints to PHBs irrespective of bits 3-5 of the DSCP field to yield a network that is compatible with historical IP Precedence use. 
I did not see text in 4.2 describing remarking bits 3-5 of the DSCP field to zero, nor remarking bits 0-2 of the DSCP field to a specific non-zero value.

I think RG's suggestion of directly citing g the text around the DSCP being 6bits long provided the clarification. This was included in the last set of PRs, and I expect this issue can now be closed.