find the typo in the text

[RG] you also refer to the following later on in your draft (there's a typo in your text):
https://datatracker.ietf.org/doc/html/rfc2474#section-7.1

      As a result, the interior nodes depend on the correct operation of the DS
      domain boundary nodes to prevent the arrival of traffic with
      inappropriate codepoints or in excess of provisioned levels that
      would disrupt operation of the domain.

Our text currently says:
    
     Furthermore, RFC 2475 states that remarking must occur when there is a possibility of theft/denial-of-service attack.

We're referencing Section 6.1 of RFC2475,  we could instead reference 7.1 of RFC2474 but i don't see that it makes much difference.

Understood, the reference makes sense