Clarify text to avoid implying RFC8100 isn't compliant with the DS architecture

    4.3.  Remarking to a Particular DSCP

     In another example, some networks do not follow the recommendation in
     RFC2475 [RFC2475], and instead remark packets with an unknown or
     unexpected DSCP to the default class, CS0 (0x00) to ensure that
     appropriate DSCPs are used within a DiffServ domain.  (e.g., see
     [RFC8100]).

[RG] Your statement says, RFC8100 isn't compliant with the DS architecture. I won't accept your statement without a detailed discussion how you come to this conclusion. Please delete this section.


This was NOT intended., expecially as here we mean to cite rfc2474. The text can be maybe clarified as follows:

In another example, some networks do not follow the recommendation in RFC2474 [RFC2474], and instead remark packets with an unknown or unexpected DSCP to the default class, CS0 (0x00) to ensure that appropriate DSCPs are used within a DiffServ domain, as per the recommendations in RFC2475 [RFC2475] and RFC 8100 [RFC8100].