Clarify the scope of Network Control Traffic in section 3.2

-- 3.2.  Network Control Traffic

 

At a high level, I’m wondering why Section 3.2 is in this draft, as it largely summarizes material from RFC 4594 Section 3 on Network Control Traffic, but this draft does not include a corresponding summary of the (much larger) RFC 4594 Section 4 on the many User Traffic service classes.

RFC 4594 defines the Network Control Traffic as consisting of the Network Control service class (uses CS6) and the OAM service class (uses CS2) which invites confusion between the two related uses of “Network Control”. 

 **A sentence stating that Network Control Traffic consists of the Network Control service class and the OAM service class should be added to the first paragraph in Section 3.2 to limit the opportunity for such confusion.**

Done in PR