IANA Considerations


Some off-list discussion has suggested that this draft would be a useful vehicle for tidying up some loose ends around PHBIDs (PHB Identification Codes).  RFC 3140 (https://datatracker.ietf.org/doc/rfc3140/) defined two PHBID formats, one of which is essentially an embellished DSCP (using the recommended default DSCP for the PHBID), the other of which allows for non-IETF-standard PHBs via an IANA registry (https://www.iana.org/assignments/phbid-codes/phbid-codes.xhtml).  Visiting the registry reveals that it’s still empty, over two decades after publication of the RFC that defined and established that registry, which strongly suggests that the IANA-registered form of PHBIDs is not useful (based on their complete absence in “running code”)
 

This draft would be a convenient means to request that IANA close that registry to future assignments.  OTOH, this draft might be too convenient, as the proverbial “right thing to do” could well be to write a short draft (to become a standards track RFC) that updates RFC 3140 to obsolete only that IANA-registered PHBID format and to request that IANA close the registry as a consequence.  For an example by analogy of what that might look like, see section 3.2 of RFC 6172 (https://datatracker.ietf.org/doc/html/rfc6172#section-3.2) … and take note of whom the lead author of RFC 6172 is ;-).

 

This can now be closed