Review by RG  - Editorial

On 04/08/2022 07:54, [Ruediger.Geib@telekom.de](mailto:Ruediger.Geib@telekom.de) wrote:
>
> Hi Ana, hi Gorry,
>
>  
>
> thanks for incorporating most of my comments.
>
>  
>
> I’ve reviewed your revised draft. There’s still one major issue, where we are viewing things differently, interpretation of RFC2474. My comments below.
>
>  
>
> Regards, Ruediger
>
>  
>
>  
>
> Draft Section 3.1.  IP-Layer Semantics, last section
>
>  
>
> Just a typo: end-to-end QoS classes).
>
>                                                                 ^ ( . misses)
>
>     
Editors: We'll fix in the next revision.
>
>                                                                                                                                
>
> --------------------------------------
>
>  
>
> Draft 4.2.2.  Impact of ToS Precedence Remarking
>
<separate Issue>
>
> -------------------------------------------------------------------------------
>
>  
>
> Draft 4.3 Remarking to a Particular DSCP
>
>  
>
>    Some networks therefore may not follow the earlier  
>
>    recommendation in RFC2474 [RFC2474] to carry unknown or unexpected        
>
>    DSCPs without modification, and instead remark packets with these   
>
>    codepoints to the default class, CS0 (0x00).
>
>   
>
> RFC 2474, Section 2, last para:
>
>  
>
>    The classifiers and traffic conditioners at DS
>
>    boundaries are configured in accordance with some service
>
>    specification, a matter of administrative policy outside the scope of
>
>    this document.
We agree with that text.
>
>   
>
> RFC 2474, Section 3, second last para:
>
>  
>
>    Validating the value of the DS field
>
>    at DS boundaries is sensible in any case since an upstream node can
>
>    easily set it to any arbitrary value.  DS domains that are not
>
>    isolated by suitably configured boundary nodes may deliver
>
>    unpredictable service.
>
>    Nodes MAY rewrite the DS field as needed to provide a desired local
>
>    or end-to-end service.
That's OK too, it is permitted.
>
>  
>
> [RG] I'd appreciate if all statements of your draft were reflecting the quoted
>
> excerpts of RFC2474. My interpretation of the statements in RFC2474 is, that all
>
> classifiers and traffic conditioners at DS boundaries are a matter of
>
> policies _outside_ the scope of RFC 2474.
>
>             ^^^^^^^^^^
>
>  

Editors: The text in section 4.3 is intended to only say remarking to a specific DSCP can happen.

We therefore suggest in this case to remove this:

"Some networks therefore may not follow the earlier
   recommendation in RFC2474 [RFC2474] to carry unknown or unexpected
   DSCPs without modification, and instead remark packets with these
   codepoints to the default class, CS0 (0x00)."

> -------
>
>  
>
> [RG] Finally, I repeat the complete statement of RFC2474, which you
>
> oftenly refer to:
>
>  
>
> RFC2474  3.  Differentiated Services Field Definition, 3rd last section
>
>  
>
>    Operators may choose to use
>
>    different codepoints for a PHB, either in addition to or in place of
>
>    the recommended default.  Note that if operators do so choose, re-
>
>    marking of DS fields may be necessary at administrative boundaries
>
>    even if the same PHBs are implemented on both sides of the boundary.
>
>  
>
>    ....
>
>  
>
>    Packets received with an unrecognized codepoint SHOULD be forwarded
>
>    as if they were marked for the Default behavior (see Sec. 4), and
>
>    their codepoints should not be changed.  Such packets MUST NOT cause
>
>    the network node to malfunction.
>
>  
>
> [RG] Your text speaks of a recommendation made by RFC2474. The only formal
>
> recommendation (SHOULD) which I read in this text is "forward by default
>
> PHB". There's no other formal recommendation. RFC 2474
>
> "suggests" to forward this traffic without changing the DSCP, that's
>
> a level of requirement I'd be agreeing to.

> Further, RFC2474 notes, that a DSCP may identify a different PHB within
>
> a domain. From the current draft text, I don't understand from where
>
> the authors know, that a DSCP is "unknown or unexpected" within a domain.
>
> Please describe with which operators you established contact to
>
> understand the operative DiffServ deployment so that you are able to
>
> reliably  derive your conclusion, that a DSCP is not used to classify
>
> traffic for a particular PHB within their domain and remarked to
>
> default rather than forwarded unchanged.
>
>  

Editors:

I think the text you refer to is:

   If packets are received that are marked with an unknown or an
   unexpected DSCP, RFC2474 [RFC2474] recommends forwarding the packet
   using a default (best effort) treatment, but without changing the
   DSCP.  This seeks to support incremental DiffServ deployment in
   existing networks as well as preserve DSCP markings by routers that
   have not been configured to support DiffServ.  (See also
   Section 4.3).  RFC3260 [RFC3260] clarifies that this remarking
   specified by RFC2474 is intended for interior nodes within a DiffServ
   domain.  For DiffServ ingress nodes the traffic conditioning required
   by RFC 2475 applies first.

For example, the term "unknown or unexpected DSCPs" was used in RFC8100,

which said:

   As described by Section 2.3.4.2 of [RFC2475], the re-marking of
   packets at domain boundaries is a Diffserv feature.  If traffic
   marked with unknown or unexpected DSCPs is received, [RFC2474]
   recommends forwarding that traffic with default (best-effort)
   treatment without changing the DSCP markings to better support
   incremental Diffserv deployment in existing networks as well as with
   routers that do not support Diffserv or are not configured to support
   it.  Many networks do not follow this recommendation and instead
   re-mark unknown or unexpected DSCPs to zero upon receipt for default
   (best-effort) forwarding in accordance with the guidance in [RFC2475]
   to ensure that appropriate DSCPs are used within a Diffserv domain.
   ...

We may have misunderstood, so are unsure what change is requested?

>  
>
> -------------------------
>
>  
>
>  
>
> Draft: 6.  Considerations for DSCP Selection
>
>  
>
>    This section provides advice for the assignment of a new DSCP value.
>
>    It is intended to aid the IETF and IESG in considering a request for
>
>    a new DSCP.  The section identifies known issues that might influence
>
>    the finally assigned DSCP, and provides a summary of considerations
>
>    for assignment of a new DSCP.
>
>  
>
> [RG] "Assignment of a new DSCP" is too generic here. Please specify / limit who's addressed by this
>
> advice.
>
>  
>
> [RG] Suggestion: It is intended to aid the IETF and IESG in considering a request for
>
>    a new DSCP to a new standard PHB.

Editors: I think this the ID to aid any request made to the IETF. We suggest:

NEW:

   This section provides advice  to aid the IETF and IESG in considering a request for

   a new DSCP.
>
>
> -------------------------------------
>
>  
>
> 6.1.  Effect of Bleaching
>
>  
>
> In this case, bleaching, or
>
>    remarking to "CS0" would result in elevating the lower effort traffic
>
>    (LE) to the default class (BE/CS0).  This is an example of priority
>
>    inversion.
>
>  
>
> [RG] As you write in your text, this is an example of priority elevation,
>
> but not an example for a priority inversion (I'm not a native speaker, but think
>
> to understand "inversion" correctly).
>
>  

Editors: The term was used when defining RFC 8622, meaning that a PHB intended to be treated with less assurance that BE actually receives higher priority to resources than BE traffic. Our suggestion would be to explain the term and refer to that RFC:

NEW:

   In this case, bleaching, or

   remarking to "CS0" would result in elevating the lower effort traffic

   (LE) to the default class (BE/CS0).  This is an example of priority

   inversion (in which packets marked with a LE DSCP  that were  intended to be forwarded with lower

   precedence thn default are instead forwarded with

   a precedence higher than used for BE packets, see section 6 of RFC 8622).


> ----------------------
>
>  
>
>  
>
> 6.5.  Questions to guide discussion of a proposed new DSCP
>
>  
>
>    *  Service Classes that can utilise existing PHBs should use assigned
>
>       DSCPs to mark their traffic: Could the request be met by using an
>
>       existing IETF DSCP?  The proposed new treatment be used to map
>
>       traffic to a new or existing PHB.
>
>  
>
> [RG]: Please reword:
>
>    *  Service Classes that can utilise existing PHBs should use assigned
>
>       DSCPs to mark their traffic: Could the request be met by using an
>
>       existing IETF PHB? 
>
>                  
>
> [RG] I've deleted the last sentence, as I don't understand, what it
>
> wants to express. Please reword, if you'd like to maintain it.
>
>  
Editors:Thanks for noting this, it was a residue from a previous edit.
We'll remove in the next revision.

Best wishes,

Gorry, Raffaello & Ana