Adapt the text to include clarification provided by RFC3260

Ana, Gorry,

 

Section  4. Remarking the DSCP

of your draft refers to RFCs 2474 and 2475, but misses a reference to and an important clarification given by

https://www.rfc-editor.org/rfc/rfc3260.html


RG: Please adapt the text of your draft to the clarification provided by RFC3260 quoted below.

 

   “6. Unknown/Improperly Mapped DSCPs

 

   Several implementors have pointed out ambiguities or conflicts in the

   Diffserv RFCs concerning behavior when a DS-node receives a packet

   with a DSCP which it does not understand.

 

   RFC 2475 states:

      "Ingress nodes must condition all other inbound traffic to ensure

      that the DS codepoints are acceptable; packets found to have

      unacceptable codepoints must either be discarded or must have

      their DS codepoints modified to acceptable values before being

      forwarded.  For example, an ingress node receiving traffic from a

      domain with which no enhanced service agreement exists may reset

      the DS codepoint to the Default PHB codepoint [DSFIELD]."

 

   On the other hand, RFC 2474 states:

      "Packets received with an unrecognized codepoint SHOULD be

      forwarded as if they were marked for the Default behavior (see

      Sec. 4), and their codepoints should not be changed."

 

   RFC 2474 is principally concerned with DS-interior nodes.....

   the statement in RFC 2474 will be clarified to indicate

   that it is not intended to apply at the ingress traffic conditioning

   function at a DS-ingress node, and cross reference RFC 2475 for that

   case.”

 

Regards,

 

Ruediger

This is now done